body {

}

.sheet_background {
    fill: #333;
}

.sheet_background_line {
    fill: #5c5c5c;
}

.sheet_background_leftside {
    fill: #3b4153;
}

.sheet_background_rightside {
    fill: #4d3946;
}

.sheet_check_line {
    fill: #ff0000;
}

.note, .note_long {
    fill: #fefffc;
}

.fx {
    fill: #e1941b;
}

.fx_long {
    fill: rgba(225, 148, 27, 0.70);
}

.analog_blue {
    fill: #80a0ff;
    opacity: 0.7;
}

.analog_red {
    fill: #ff20c0;
    opacity: 0.7;
}

.invisible {
    display : none;
}

.time_bar {
    width: 465px;
}

.player_svg {
    display: block;
    margin: auto;
}

div.options {
    text-align: center;
}

.bpm_text {
    fill: red;
    font-size: 30px;
    font-weight: bold;
    font-family: Consolas;
}