body {
    font-family: Consolas, 微軟正黑體;
}

select {
  font-family: inherit;
}

input {
    font-family: inherit;
    text-align: center;
    vertical-align: middle;
}

.sheet_background {
    fill: #333;
}

.sheet_background_line {
    fill: #5c5c5c;
}

.sheet_background_leftside {
    fill: #3b4153;
}

.sheet_background_rightside {
    fill: #4d3946;
}

.sheet_check_line {
    fill: #ff0000;
}

.note, .note_long {
    fill: #fefffc;
}

.fx {
    fill: #e1941b;
}

.fx_long {
    fill: rgba(225, 148, 27, 0.70);
}

.analog_blue {
    fill: #80a0ff;
    opacity: 0.7;
}

.analog_red {
    fill: #ff20c0;
    opacity: 0.7;
    background-blend-mode: multiply;
}

.invisible {
    display : none;
}

.time_bar {
    width: 465px;
}

.vol_bar {
    width: 80px;
}

.player_svg {
    display: block;
    margin: auto;
}

.sdvx_style_svg {
    -webkit-transform: translateY(-160px) scale(0.4, 0.4) perspective(400px) rotateX(60deg);
    -moz-transform: translateY(-160px) scale(0.4, 0.4) perspective(400px) rotateX(60deg);
    -ms-transform: translateY(-160px) scale(0.4, 0.4) perspective(400px) rotateX(60deg);
    -o-transform: translateY(-160px) scale(0.4, 0.4) perspective(400px) rotateX(60deg);
    transform: translateY(-160px) scale(0.4, 0.4) perspective(400px) rotateX(60deg);
}

div.option_wrapper {
    display: table;
    width: 90%;
    height: 400px;
    position: absolute;
}

div.options {
    text-align: right;
    vertical-align: middle;
    display: table-cell;
}

div.headers {
    text-align: center;
    position: inherit;
}

.bpm_text {
    fill: red;
    font-size: 30px;
    font-weight: bold;
    font-family: Consolas;
}

.help_div {
    text-align: center;
}

.fc2_function {
	text-align: center;
}

.check_text {
    font-size: 30px;
    font-weight: bold;
    font-family: Consolas;
    opacity: 0.7;
}

.check_text_early {
    fill: blue;
}

.check_text_late {
    fill: red;
}

.note_ghost {
    fill: yellow;
    opacity: 0.4;
}

.fx_ghost {
    fill: blue;
    opacity: 0.4;
}
